@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary font-secondary bg-white;
  }

  .h1 {
    @apply text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  }

  .h2{
    letter-spacing: 0.5px;
    font-size: 18px;
  }

  .h3 {
    @apply text-[36px] lg:text-[64px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  }

  .section {
    @apply h-screen w-screen;
  }

  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  }
}

.bw-image {
  filter: grayscale(100%);
  /* Set the image to black and white */
  transition: filter 3s ease;
  /* Add transition for smooth effect */
}

.bw-image:hover {
  filter: grayscale(0%);
  /* Change to color on hover */
}

img {
  object-fit: cover; /* Image always covers the container */
  object-position: center; /* Center the image within the container */
}
span{
  text-decoration: line-through;
}